header {
    padding: 104px 0 100px;
  }
  
  @media (min-width: 992px) {
    header {
      padding: 56px 0 100px;
    }
  }
  
  section {
    padding: 150px 0;
  }
  .text-aqua{
      color: aqua;
  }
  .text-deeppink
  {
      color: deeppink
  }

  .text-tomato
  {
      color: tomato 
    
    }


.main-heading{
      font-size :  20px;
}
.button-margin{
       margin : 10px;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

div.scrollmenu {
    background-color:whitesmoke;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: #478aa7;
    text-align: center; 
    padding: 14px;
    text-decoration: none;
    margin: 5px 5px 5px 5px;
}

div.scrollmenu a:hover {
    background-color:darken(whitesmoke, 3%);
    cursor: pointer;
}
.pageBorder{
 margin : 20px -10px 20px -30px;
}
.containerMargin{
    margin-left : -20px;
}
.roundedbtn {
    -webkit-border-radius: 10px;
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.8);
    
    border: 2px solid #478aa7 ;
    font-size: 12px;
    line-height: 10px;
    padding: 0 12px;
    margin-top : 2px;
}
.roundedbtn:hover,
.roundedbtn:focus,
.roundedbtn:active,
.roundedbtn:visited {
    color: rgba(255, 255, 255, 1);
    border: 1px solid #478aa7;
    outline: none;
    cursor: pointer;
}
.gridMenu{
  display: grid;
    grid-template-columns: 230px 240px 3fr 3fr 5fr 5fr 5fr 3fr ;
    grid-gap: 3px;
    border: #478aa7;
}
.jobGridMenu{
    display: grid;
      grid-template-columns: 280px 150px 3fr 3fr 2fr 2fr 2fr 2fr 4fr;
      grid-gap: 3px;

   
  }
  .outlineBorder{
      border : whitesmoke solid 1px;
  }
  .alignText{
      text-align: left;
  }
.actionGrid{
    display: grid;
      grid-template-columns: repeat(3,auto);
      grid-gap: 2px;
}
.checkGrid{
    display : grid;
    grid-template-columns: repeat(7,auto);
    grid-gap : 2px;
}

.alignGrid{
    display : grid;
    grid-template-columns : 150px 315px;
    grid-gap : 3px;
}
.alignNormal{
  
  grid-template-columns : 150px 315px;
  grid-gap : 3px;
}
.expGrid{
    display : grid;
    grid-template-columns : 150px 4fr 4fr;
    grid-gap : 3px;
}
.fromToDate{
    display : grid;
    grid-template-columns : 150px 4fr 4fr 4fr;
    grid-gap : 3px;
}
.toDate{
    margin-left : -10px;
}
.popupLabel{
    margin-top : 5px;
}
.jbDesGrid{
    display : grid;
    grid-template-columns: 150px auto;
    grid-gap : 2px;
}
.textareaBorder{
    width : 315px;
    border: 0px solid white;
    margin-top :-5px;
    margin-bottom : 5px;
    margin-left: -10px;
    font-weight: bold;
}
.deleteGroupButtons{
    margin-left : 15px;
    margin-right : 15px;

}
.postJbBtn{
   margin : 10px;
}
.searchBox{
    border : 1px solid #d2d3d5;
}
.utilityMargin{
    margin-top: 5px;
}
#jobTitle::-webkit-scrollbar {
        display: none;
        }
#candidateName::-webkit-scrollbar {
    display: none;
    }
#jobDescription::-webkit-scrollbar {
    display: none;
    }
    .sendGrid{
        display : grid;
        grid-template-columns : 150px auto;
        grid-gap : 3px;
    }
    .vendorBox{
        width :200px;
        border : 1px solid #d2d3d5;
    }
    .showMargin{
        margin-left: 10px;
    }
    .jbHstd{
        width :500px;
        overflow-x : auto;
    }
    .addJbDesc{
        width : 315px;
        border : 1px solid #d2d3d5;
        position: relative;
    }
    .imgGap{
        margin-top:20px;
  }


